<div class="row">
  <% @favorites.each do |bookmark| %>
　　<div class="col-md-3-mx-2">
        <p class="card-body text-center text-light">
      <%= link_to post_path(bookmark.post) do %>
          <%= image_tag bookmark.post.image, size: "230x230" %><br>
      <% end %>
      <%= bookmark.post.shop_name %><br>
      <%= bookmark.post.address %><br>


    </p>
    </div>
    <% end %>
</div>
