<div class="row">
    <div class="col-md-3-mx-4 mx-auto">
      <p class="card-body text-center text-light mx-auto">
    <% @favorites.each do |bookmark| %>
      <%= link_to post_path(bookmark.post) do %>
          <%= image_tag bookmark.post.image, size: "230x230" %><br>
      <% end %>
      <%= bookmark.post.shop_name %><br>
      <%= bookmark.post.address %><br>
    <% end %>
    </p>
    </div>
</div>
