<div class="container">
    <div class="row">
      <div class='mx-auto  mt-5 text-light '>
        <h4 class="mt-5 ">店飲み家飲みかを選択して、美味しいお酒や美味しいお酒が飲めるお店を共有しましょう。</h4>
        <div class="btn-wrapper col-6 mx-auto mt-5">
          <div class="row ">
            <%= link_to "店飲み", "/posts/new/shop_name", class: "btn btn-outline-primary btn-sm btn-block mb-3  " %>
          </div>
          <div class="row mt-4">
            <%= link_to "家飲み", "/posts/new/alcohol", class: "btn btn-outline-primary btn-sm btn-block mb-3   " %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
