<div class="container px-5 py-4">
  <div class="row align-items-center justify-content-between">
    <h4 class="col-3">会員一覧</h4>
  </div>
  <table class="table table-hover table-inverse cart_products">
    <tr>
      <th class="table-secondary">会員ID</th>
      <th class="table-secondary">氏名</th>
      <th class="table-secondary">ニックネーム</th>
      <th class="table-secondary">メールアドレス</th>
      <th class="table-secondary">会員ステータス</th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.nickname %></td>
        <td><%= member.email %></td>
        <% if member.member_status == "true" %>
         <td>有効</td>
        <% else member.member_status == "false" %>
         <td>退会</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>