<% if @members.exists? %>
<p>フォロー一覧</p><br/>
<div class="container px-5 py-4">
  <div class="row align-items-center justify-content-between">
    <h4 class="col-3">会員一覧</h4>
  </div>
  <table class="table table-hover table-inverse cart_products">
    <tr>
      <th class="table-secondary">ユーザー名</th>
      <th class="table-secondary"></th></th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td>投稿一覧</td>
    　</tr>
    <% end %>
  </table>
</div>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
