<div class="background">
  <div class="container">
    <div class="row">
      <div class='mx-auto  mt-5  '>
        <h3 class="mt-5">　　ASoLはおすすめのお店やお酒を共有するSNSです。</p>
        <div class="btn-wrapper col-7 mx-auto mt-5">
          <div class="row">
            <%= link_to 'Log in',new_member_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
          <div class="row mt-4">
            <%= link_to 'Sign Up',new_member_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>