 <div class="row">
    <div class="col-md-8">
      <div class="row mt-1 ml-1">
        <h5>登録情報</h5>
        <span class="ml-3"><%= link_to "編集する", edit_member_path, class: "btn btn-outline-success btn-sm" %></span>
      </div>
      <div class="table-responsive-md mt-3">
        <table class="table">
          <tr>
            <td class="bg-light" style="width:25%">氏名</td>
            <td style="width:75%"><%= member.name %> </td>
          </tr>
          <tr>
            <td class="bg-light">ニックネーム</td>
            <td><%= member.nickname %> </td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= member.email %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>